@page "/"

@using FifaTournamentClient.Models
@using FifaTournamentClient.Services
@using FifaTournamentClient.Components

@inject PlayersService PlayersService

<h1>Player Ranking</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < players.Count; i++)
        {
        <tr>
            <td>@(i + 1)</td>
            <td>
                @string.Format("{0} {1}", players[i].FirstName, players[i].LastName)
                <TeamLogo Url="@players[i].TeamLogoUrl"></TeamLogo>
            </td>
            <td>@players[i].Score</td>
        </tr>
        }
    </tbody>
</table>

@code {
    private List<Player> players = new List<Player> { };

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        this.players = (await PlayersService.GetPlayersAsync())
            .OrderByDescending(p => p.Score)
            .ToList();

        return;
    }
}