@page "/"

@using FifaTournamentClient.Models
@using FifaTournamentClient.Services

@inject PlayersService PlayersService

<h1>Player Ranking</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in players)
        {
        <tr>
            <td>@player.FirstName</td>
            <td>@player.LastName</td>
            <td>@player.Score</td>
        </tr>
        }
    </tbody>
</table>

@code {
    private List<Player> players = new List<Player> { };

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        this.players = (await PlayersService.GetPlayersAsync()).OrderByDescending(p => p.Score).ToList();

        return;
    }
}